<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Sign Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="t1">Zodiac Teller</h1>
    <div class="container">
        <h1 id="t2">Predict Your Zodiac Sign</h1>
        <form action="{{ url_for('predict') }}" method="post">
            <label id="t3" for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <label id="t4" for="birthday_month">Select your birthday month:</label>
            <select id="birthday_month" name="birthday_month" required>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
